@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-purple: #7c5dfa;
  --primary-text: #1a1a1a;
  --secondary-text: #4f4f4f;
  --background-white: #ffffff;

  /* Spacing */
  --spacing-base: 1rem;
  --spacing-small: 0.5rem;
  --spacing-large: 2rem;

  /* Font Sizes */
  --font-size-base: 1rem;
  --font-size-small: 0.875rem;
  --font-size-large: 1.25rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;

  /* Font Weights */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-semibold: 700;

  /* Colors */
  --color-link: #8a70fc;
  --color-link-hover: #7257ea;
  --color-link-active: #c2a7ff;
  --color-border: #d0d0d0;
  --color-button-bg: rgba(138, 112, 252, 1);
  --color-disabled-bg: #e8e1f7;
  --color-disabled-text: rgba(138, 112, 252, 1);
  --color-button-hover-bg: rgba(114, 87, 234, 1);
  --color-button-active-bg: rgba(194, 167, 255, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  line-height: 1.5;
  color: var(--primary-text);
  margin: var(--spacing-large);
  background-color: var(--background-white);
  font-size: 17px;
}

html {
  font-size: 17px;
}

a {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  color: var(--color-link);
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

a:active {
  color: var(--color-link-active);
}

a.button:disabled {
  background-color: var(--color-disabled-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  color: var(--primary-text);
  text-transform: none;
}

h1 {
  font-weight: var(--font-weight-bold);
  font-size: 62px;
  letter-spacing: 0px;
}

h2 {
  font-weight: var(--font-weight-bold);
  color: #332e49;
  font-size: 36px;
  letter-spacing: 0px;
}

h3 {
  font-weight: var(--font-weight-bold);
  color: #332e49;
  font-size: 28px;
  letter-spacing: 0px;
}

h4,
h5 {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  letter-spacing: 1.18px;
}

h6 {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  letter-spacing: 1.06px;
}

ul,
ol {
  margin: var(--spacing-large) 0;
  padding-left: var(--spacing-large);
}

ul li,
ol li {
  margin: var(--spacing-small);
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: var(--spacing-large);
}

blockquote {
  border-left: 10px solid var(--primary-purple);
  padding-left: var(--spacing-large);
}

hr {
  border-bottom-color: var(--color-border);
}

button,
.button {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  border-radius: 4px;
  font-size: var(--font-size-base);
  padding: var(--spacing-small) var(--spacing-large);
  text-transform: none;
  transition: background-color 0.2s ease;
  border: 1px solid var(--primary-text);
  color: var(--primary-text);
}

button:hover,
button:focus,
.button:hover,
.button:focus,
button:active,
.button:active {
  background-color: var(--color-button-hover-bg);
  color: var(--background-white);
  border: 1px solid var(--color-link-hover);
}

button.primary,
.button.primary {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-link);
  color: var(--background-white);
  fill: var(--background-white);
}

button.primary:hover,
button.primary:focus,
.button.primary:hover,
.button.primary:focus,
button.primary:active,
.button.primary:active {
  background-color: var(--color-button-hover-bg);
  border: 1px solid var(--color-link-hover);
}

button.primary:active,
.button.primary:active {
  background-color: var(--color-button-active-bg);
  border-color: var(--color-link-active);
}

button.primary:disabled,
.button.primary:disabled {
  background-color: var(--color-disabled-bg);
  color: var(--color-disabled-text);
  cursor: not-allowed;
}
